<h1><%= @job.team_name %> @ <%= @job.employer.company %></h1>
<% if @job.team_photo.url(:medium) %>
	<img src="<%= @job.team_photo.url(:medium) %>">
	<% end -%>
<h2>We're Looking for:</h2>
<div class="skill-cloud">
	<ul class="skill-cloud">
	<% @jobskills.each do |jobskill| %>
	<li data-weight="<%= jobskill.intensity %>"><%= jobskill.skill.title %></li>
	<% end -%>
	</ul>
</div>

<h2>Why Should you work there?</h2>
<p><%= @job.description %></p>





<script>
$(document).ready(function(){
	$.fn.tagcloud.defaults = {
		size: {start: 14, end: 18, unit: 'pt'},
		color: {start: '#cde', end: '#f52'}
	};
    $(function () {
      $('.skill-cloud li').tagcloud();
    });	

})

</script>
	