<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
  <title>Mrkt</title>
  <p class="notice"><%#= notice %></p>
  <p class="alert"><%#= alert %></p>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>

<script>
$.ajaxSetup ({
// Disable caching of AJAX responses
cache: false
});
</script>